.container {
  display: grid;
  grid-template-areas:
    "splash"
    ".";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0;
  height: 100%;
  padding: 0 0.5rem;
  width: calc(100% - 1rem);
}

.splash {
  grid-area: splash;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Splash image */
.splash-image-container {
  height: 100%;
  width: 100%;
}

.placeholder-image {
  background: linear-gradient(36deg, rgb(255 224 130 / 40%) 15%, rgb(255 248 225 / 80%) 90%);
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}

/* Concert date */
.concert-date-container {
  height: calc(100% - 0.5rem);
  left: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 0;
  width: calc(100% - 1rem);
}

.concert-date {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Venue name */
.venue-name-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.concert-link {
  display: block;
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.venue-name {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.container[data-cq-small] {
  padding: 0 0.25rem;
  width: calc(100% - 0.5rem);
}

.container[data-cq-small] .concert-date {
  font-size: 1rem;
  font-weight: 400;
}

.container[data-cq-small] .venue-name {
  font-size: 2.25rem;
  letter-spacing: 0.125rem;
}
