{{#let
  (and @cqFeatures.large @cqFeatures.short)
  (or @cqFeatures.small @cqFeatures.short)
  as |showHorizontalLayout showMinimalLayout|
}}
  <div
    data-test-memo-header
    local-class="
      header
      {{if showMinimalLayout 'minimal-layout'}}
      {{if showHorizontalLayout 'horizontal-layout'}}
    "
  >
    {{#unless showMinimalLayout}}
      <div local-class="avatar-container">
        <img
          alt=""
          data-test-image="Avatar"
          local-class="avatar"
          role="presentation"
          src="/images/widgets/widget-4/avatar.jpg"
        />
      </div>
    {{/unless}}

    <p local-class="name">
      Isaac Lee
    </p>

    <div local-class="metadata">
      <a href="#" local-class="handle">@ijlee2</a>
      · 38m
    </div>
  </div>
{{/let}}