<div local-class="image-container">
  <img
    alt=""
    data-test-image="Concert"
    local-class="image"
    role="presentation"
    src="/images/widgets/widget-3/venue-extra-wide@4x.jpg"
  />
</div>