{{#if @images}}
  <ContainerQuery
    @debounce={{300}}
    as |CQ|
  >
    <div
      local-class="image-container"
      {{did-update (fn this.setImageSource CQ.dimensions) CQ.dimensions}}
    >
      {{#if this.src}}
        <img
          alt=""
          data-test-image="Concert"
          local-class="image"
          role="presentation"
          src={{this.src}}
        />
      {{/if}}
    </div>
  </ContainerQuery>
{{/if}}