.list {
  display: grid;
  gap: 0.25rem 0.5rem;
  grid-auto-flow: column;
}

.item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 1.5rem;
  word-break: break-all;
}

.icon-explicit {
  color: rgb(247 252 251 / 90%);
  flex-shrink: 0;
  margin-left: 0.25rem;
}
