.container {
  display: grid;
  grid-template-areas:
    "title"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: calc(100% - 3em);
  overflow-y: auto;
  padding: 1.5rem 1rem;
  scrollbar-gutter: stable;
}

.title {
  grid-area: title;
}

.content {
  grid-area: content;
}
