<div local-class="header">
  <div local-class="avatar-container">
    <img
      alt=""
      data-test-image="Avatar"
      local-class="avatar"
      role="presentation"
      src="/images/widgets/widget-4/avatar.jpg"
    />
  </div>

  <p local-class="name">
    Isaac Lee
  </p>

  <div local-class="metadata">
    <a href="#" local-class="handle">@ijlee2</a> · 38m
  </div>
</div>