.header {
  display: grid;
  grid-gap: 0.25rem 0.5rem;
  grid-template-areas:
    "avatar-container name"
    "avatar-container metadata";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.avatar-container {
  grid-area: avatar-container;

  display: grid;
  height: 2rem;
  width: 2rem;
}

.avatar {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.name {
  grid-area: name;

  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
}

.metadata {
  grid-area: metadata;

  font-size: 0.8rem;
}

.handle {
  color: #03a9f4;
  text-decoration: none;
}