<section local-class="container">
  <header local-class="header">
    <h2>Widget 4</h2>
  </header>

  <div local-class="memo-highlight">
    <Widgets::Widget-4::Memo />
  </div>

  <div local-class="actions">
    <a data-test-link="All memos" href="#">
      All memos
    </a>
  </div>
</section>