.application {
  display: grid;
  grid-template-areas:
    ". header ."
    "main main main"
    ". footer .";
  grid-template-columns: 1fr minmax(auto, 75rem) 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

.application.no-focus-outline *:focus {
  outline: 0;
}

.header {
  grid-area: header;
  min-height: 2.75rem;
  overflow-x: auto;
}

.main {
  background-color: rgba(255, 255, 255, 0.045);
  border-bottom: 0.0625rem solid rgba(211, 211, 211, 0.15);
  border-top: 0.0625rem solid rgba(211, 211, 211, 0.15);
  grid-area: main;

  display: flex;
  flex: 1;
  justify-content: center;
  overflow-y: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  overflow-y: auto;
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  grid-area: footer;
  justify-content: center;
  min-height: 2.375rem;
}

.copyright {
  color: rgba(128, 191, 255, 0.9);
  font-size: 0.75rem;
  padding: 0.75rem 0;
}

.copyright .link {
  color: rgba(128, 191, 255, 0.9);
}