.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  padding: 1.5rem 1rem;
}

.animation {
  flex: 1;
  margin: 2rem 0 1.5rem 0.75rem;
}

.metaphor {
  height: 4.5rem;
  width: 15rem;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.mental-block {
  grid-column: 1;
  grid-row: 1;

  background-color: goldenrod;
  border-radius: 0.125rem;
  height: 1.5rem;
  width: 1.5rem;

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: extend-right;
}

.the-next-idea {
  grid-column: 6 / 11;
  grid-row: 1 / 4;

  border: 0.0625rem solid white;;
  border-radius: 0.1875rem;
  height: calc(4.5rem - 2 * (0.2rem + 0.0625rem));
  width: calc(100% - 2 * (0.5rem + 0.0625rem));
  padding: 0.2rem 0.5rem;

  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1.25;

  display: flex;
  align-items: center;
}

@keyframes extend-right {
  from { width: 1.5rem; }
  to { width: 10rem; }
}


.metaphor.small-layout {
  margin-left: 0;
  height: 12.5rem;
  width: 12.5rem;
}

.metaphor.small-layout .mental-block {
  height: 1.25rem;
  width: 1.25rem;

  animation-name: extend-right-variation-1;
}

.metaphor.small-layout .the-next-idea {
  height: calc(3.75rem - 2 * (0.2rem + 0.0625rem));
  padding: 0.2rem 0.3rem;
}

@keyframes extend-right-variation-1 {
  from { width: 1.5rem; }
  to { width: 8rem; }
}