<div
  class="container-query"
  data-test-container-query
  {{did-insert this.queryContainer}}
  {{did-resize this.queryContainer debounce=this.debounce}}
  ...attributes
>
  {{yield (hash
    breakpoints=this.queryResults
  )}}
</div>