<div
  class="container-query"
  data-test-container-query
  {{did-insert this.queryContainer}}
  {{did-resize this.queryContainer debounce=this.debounce}}
  ...attributes
>
  {{yield (hash
    features=this.queryResults
    dimensions=(hash
      aspectRatio=this.aspectRatio
      height=this.height
      width=this.width
    )
  )}}
</div>