<ContainerQuery
  @features={{hash large=(width min=224) tall=(height min=120)}}
  @tagName="section"
  local-class="container"
  as |CQ|
>
  {{#let
    (and CQ.features.large CQ.features.tall)
    as |showFullText|
  }}
    <div data-test-call-to-action local-class="call-to-action">
      {{#if showFullText}}
        <p>What will <em>you</em> create with</p>
      {{/if}}

      <p local-class="highlight">
        <a
          href="https://github.com/ijlee2/ember-container-query"
          target="_blank"
          rel="noopener noreferrer"
        >
          ember-container-query
        </a>
      </p>

      {{#if showFullText}}
        <p>?</p>
      {{/if}}
    </div>
  {{/let}}
</ContainerQuery>