.products-with-details {
  display: grid;
  grid-template-areas:
    "product-details"
    "list";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  position: relative;
}

.list {
  display: grid;
  grid-gap: 1.5rem 1rem;
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(min(20rem, 100%), 1fr)
    );
  grid-template-rows: 1fr;
}

.product-details {
  grid-area: product-details;
}

@media screen and (min-width: 40rem) {
  .products-with-details {
    grid-template-areas: "list product-details";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }

  .products-with-details .list {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    height: max-content;
  }
}
