{{page-title "Form"}}

<Ui::Page @title="Form">
  <Ui::Form
    @data={{hash
      email=undefined
      message="I 🧡 container queries!"
      name=undefined
      subscribe=true
    }}
    @instructions="Still have questions about ember-container-query? Try sending me a message."
    @title="Contact me"
    as |F|
  >
    <div local-class="field">
      <F.Input
        @isRequired={{true}}
        @key="name"
        @label="Name"
        @placeholder="Zoey"
      />
    </div>

    <div local-class="field">
      <F.Input
        @isRequired={{true}}
        @key="email"
        @label="Email"
        @placeholder="zoey@emberjs.com"
        @type="email"
      />
    </div>

    <div local-class="field">
      <F.Textarea @key="message" @label="Message" />
    </div>

    <div local-class="field">
      <F.Checkbox
        @key="subscribe"
        @label="Subscribe to The Ember Times?"
      />
    </div>
  </Ui::Form>
</Ui::Page>