.container {
  display: grid;
  grid-gap: 1rem 2.5rem;
  grid-template-areas:
    "summary summary"
    "previous-button next-button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.summary {
  color: #455a64;
  display: grid;
  font-size: 0.875rem;
  grid-area: summary;
  grid-template-areas:
    "music-format"
    "annual-revenue"
    "relevant-years";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  overflow-y: auto;
}

.music-format {
  color: rgb(247 252 251 / 90%);
  display: flex;
  font-size: 1rem;
  grid-area: music-format;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.marker {
  align-items: center;
  background-color: rgb(247 252 251 / 90%);
  border-radius: 0.5rem;
  display: flex;
  height: 1em;
  justify-content: center;
  margin-right: 0.25rem;
  padding: 0.125rem;
  width: 1rem;
}

.annual-revenue {
  font-size: 0.8rem;
  grid-area: annual-revenue;
}

.relevant-years {
  font-size: 0.8rem;
  grid-area: relevant-years;
}

.highlight {
  color: rgb(247 252 251 / 90%);
}

.previous-button,
.next-button {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin: 0.25rem;
}

.previous-button {
  grid-area: previous-button;
}

.next-button {
  grid-area: next-button;
}

.icon {
  color: rgb(247 252 251 / 90%);
}

.container.flat {
  column-gap: 1rem;
  grid-template-areas: "previous-button summary next-button";
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-template-rows: minmax(3rem, 1fr);
}

.container.flat .summary.horizontal-layout {
  grid-gap: 0.5rem;
  grid-template-areas: "music-format annual-revenue relevant-years";
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 1fr;
}

.container.flat .annual-revenue,
.container.flat .relevant-years {
  display: flex;
  flex-direction: column;
}

.container.flat .previous-button,
.container.flat .next-button {
  background: linear-gradient(36deg, #7cb342 16%, #4b830d 84%);
  border: 0;
}

.music-format.small-font-size {
  font-size: 0.875rem;
  margin: 0;
}
