<div local-class="container">
  <header>
    <h2>Widget 2</h2>
  </header>

  <div
    data-test-visualization
    local-class="visualization"
  >
    <Widgets::Widget-2::StackedChart
      @data={{this.data}}
    />
  </div>

  <div
    data-test-captions
    local-class="captions"
  >
    {{!-- Captions go here --}}
  </div>
</div>