<div
  local-class="svg-container"
  {{did-insert this.refreshChart}}
  {{did-update this.drawChart this.data}}
  {{did-resize this.refreshChart debounce=50}}
>
  <svg local-class="svg">
  </svg>
</div>