<div local-class="actions">
  <button
    aria-label="Comment"
    local-class="button"
    type="button"
  >
    {{svg-jar "textsms-outlined-24px" local-class="icon icon-comment"}}
  </button>

  <button
    aria-label="Repost"
    local-class="button"
    type="button"
  >
    {{svg-jar "loop-24px" local-class="icon icon-repost"}}
  </button>

  <button
    aria-label="Like"
    local-class="button"
    type="button"
  >
    {{svg-jar "favorite-outlined-24px" local-class="icon"}}
  </button>

  <button
    aria-label="Share"
    local-class="button"
    type="button"
  >
    {{svg-jar "share-outlined-24px" local-class="icon"}}
  </button>
</div>