.container {
  align-items: start;
  display: grid;
  margin-bottom: 1.25rem;
}

.container:not(.is-wide):not(.no-feedback) {
  grid-template-areas:
    "label"
    "field"
    "feedback";
  grid-column-gap: 0;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.container:not(.is-wide).no-feedback {
  grid-template-areas:
    "label"
    "field";
  grid-column-gap: 0;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.container.is-wide:not(.no-feedback) {
  grid-template-areas:
    "label field"
    "label feedback";
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 1fr auto;
}

.container.is-wide.no-feedback {
  grid-template-areas:
    "label field";
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 1fr;
}

.textarea, .label, .paragraph {
  margin: 0;
  padding: 0;
}

.label {
  grid-area: label;
  overflow: hidden;
  word-break: break-word;
}

.textarea, .paragraph {
  grid-area: field;
}

.textarea {
  border: 0.125rem solid #ffd54f;
  padding: 0.125rem 0.25rem;
  width: calc(100% - 2 * 0.25rem);
}

.textarea:focus {
  background-color: #ffecb3;
  outline: 0;
}

.textarea:not(:focus) {
  border-color: transparent;
}

.textarea::placeholder {
  font-style: italic;
}

.textarea.is-disabled {
  background-color: #90a4ae;
  color: #546e7a;
  cursor: not-allowed;
}

.paragraph {
  min-height: 1rem;
  word-break: break-word;
}

.feedback {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  grid-area: feedback;
}

.feedback.is-error {
  color: #ff5252;
}

.message {
  margin-left: 0.5rem;
}