{{page-title "Dashboard"}}

<Ui::Page @title="Dashboard">
  <div local-class="widgets">
    <div data-test-widget="1" local-class="widget-1">
      <Widgets::Widget-1 />
    </div>

    <div data-test-widget="2" local-class="widget-2">
      <Widgets::Widget-2 />
    </div>

    <div data-test-widget="3" local-class="widget-3">
      <Widgets::Widget-3 />
    </div>

    <div data-test-widget="4" local-class="widget-4">
      <Widgets::Widget-4 />
    </div>

    <div data-test-widget="5" local-class="widget-5">
      <Widgets::Widget-5 />
    </div>
  </div>
</Ui::Page>