<section local-class="container">
  <header local-class="header">
    <h1>Dashboard</h1>
  </header>

  <div local-class="widgets">
    <div local-class="widget-1">
      <Widgets::Widget-1 />
    </div>

    <div local-class="widget-2">
      Widget 2
    </div>

    <div local-class="widget-3">
      Widget 3
    </div>

    <div local-class="widget-4">
      Widget 4
    </div>

    <div local-class="widget-5">
      Widget 5
    </div>
  </div>
</section>