{{page-title "Form"}}

<section local-class="container">
  <header>
    <h1>Form</h1>
  </header>

  <div local-class="form">
    <Form
      @data={{hash
        email=undefined
        message="I 🧡 container queries!"
        name=undefined
        subscribe=true
      }}
      @instructions="Still have questions about ember-container-query? Try sending me a message."
      @title="Contact me"
    >
    </Form>
  </div>
</section>