.input {
  border: 0.125rem solid #ffd54f;
  padding: 0.125rem 0.25rem;
  width: calc(100% - 0.75rem);
}

.input:focus {
  background-color: #ffecb3;
  outline: 0;
}

.input:not(:focus) {
  border-color: transparent;
}

.input::placeholder {
  font-style: italic;
}

.is-disabled {
  composes: input-disabled from global;
}
