<div local-class="container">
  <div local-class="header-container">
    <Widgets::Widget-4::Memo::Header />
  </div>

  <div local-class="body-container">
    <Widgets::Widget-4::Memo::Body />
  </div>

  <div local-class="actions-container">
    <Widgets::Widget-4::Memo::Actions />
  </div>
</div>