<div>
  Arguments:
  {{@aspectRatio}},
  {{@height}},
  {{@width}}
</div>

<div>
  {{#let
    (hash
      aspect-ratio=(aspect-ratio) height=(height) width=(width)
    )
    as |obj|
  }}
    {{! template-lint-disable no-log }}
    {{log obj.aspect-ratio obj.height obj.width}}
  {{/let}}
</div>