{{#if @images}}
  <ContainerQuery
    @debounce={{300}}
    as |CQ|
  >
    <div
      local-class="image-container"
      {{find-best-fitting-image
        dimensions=CQ.dimensions
        images=@images
        onQuery=this.setImageSource
      }}
    >
      {{#if this.imageSource}}
        <img
          alt=""
          data-test-image="Concert"
          local-class="image"
          role="presentation"
          src={{this.imageSource}}
        />
      {{/if}}
    </div>
  </ContainerQuery>
{{/if}}