name: CI

on: 
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Run the workflow every Monday at 6 am CET
    - cron: '0 4 * * MON'

env:
  NODE_VERSION: 14
  PERCY_PARALLEL_NONCE: ${{ github.run_id }}-${{ github.run_number }}
  PERCY_PARALLEL_TOTAL: 9

jobs:
  build-app:
    name: Build app for testing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build app
        run: yarn build:test

      - name: Upload app
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist


  lint:
    name: Lint files and dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint


  test-addon:
    name: Test addon
    needs: [build-app]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        width:
          - 'w1'
          - 'w2'
          - 'w3'
        height:
          - 'h1'
          - 'h2'
          - 'h3'
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Download app
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Test
        run: npx percy exec -- yarn test:ember:${{ matrix.width }}-${{ matrix.height }} --path=dist
        env:
          DEVICE: ${{ matrix.width }}-${{ matrix.height }}
          PERCY_PARALLEL_NONCE: ${{ env.PERCY_PARALLEL_NONCE }}
          PERCY_PARALLEL_TOTAL: ${{ env.PERCY_PARALLEL_TOTAL }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}


  test-compatibility:
    name: Test compatibility
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - 'ember-lts-3.20'
          - 'ember-lts-3.24'
          - 'ember-release'
          # - 'ember-beta'
          # - 'ember-canary'
          - 'embroider-safe'
          # - 'embroider-optimized'
        width:
          - 'w1'
          - 'w2'
          - 'w3'
        height:
          - 'h3'
    timeout-minutes: 5
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Test compatibility without Percy
      - name: Test
        run: yarn test:ember-compatibility ${{ matrix.scenario }} --- yarn test:ember:${{ matrix.width }}-${{ matrix.height }}